In [1]:
# Import Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
# Read in Uber Data
file = 'Data/uber_nyc_data.csv'
uber_df = pd.read_csv(file)
uber_df.head()

,id,origin_taz,destination_taz,pickup_datetime,trip_distance,trip_duration
0,252581,7C,6A,2014-09-01 09:00:00,4.25,0:15:11
1,252582,7B,15,2014-09-01 18:00:00,10.17,0:34:05
2,252583,11,2A,2014-09-01 17:00:00,4.02,0:17:06
3,252584,3B,4A,2014-09-01 13:00:00,1.46,0:06:32
4,252585,2A,10,2014-09-01 14:00:00,8.31,0:26:17

In [11]:
# See if any missing values
uber_df.count()

id                 30925738
origin_taz         30925738
destination_taz    29652715
pickup_datetime    30925738
trip_distance      30925700
trip_duration      30925700
dtype: int64

In [12]:
# Drop empty values
clean_uber_df = uber_df.dropna(how ='any')

In [14]:
# Confirm drop occurred
clean_uber_df.count()

id                 29652677
origin_taz         29652677
destination_taz    29652677
pickup_datetime    29652677
trip_distance      29652677
trip_duration      29652677
dtype: int64

In [4]:
#There are no duplicated rows (this takes a while to run):
len(uber_df[uber_df.duplicated() == True])

0